<!DOCTYPE html>
<html>
<head>
  <title>Nile7</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Nile7.com Ruby in Rails </h1>
  <div class="container">
    <ul class="nav nav-tabs">
      <li> <%= link_to "Home", root_path %></li>
      <li><%= link_to "Services", nile7_main_controller_services_path %></li>
      <li><%= link_to "About", nile7_main_controller_about_path %></li>
      <li><%= link_to "Pricing", nile7_main_controller_pricing_path %></li>
      <li><%= link_to "Faq", nile7_main_controller_faq_path %></li>
      <li><%= link_to "Invoices", invoices_path %></li>
    </ul>    
<%= yield %>
  </div>
    
</body>
</html>
